/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#menu{
  position: relative;
}

p {
  border: 3px solid black;
  background-color: gray;
  width: 90%;
  height: 170px;
  margin-left: auto;
  margin-right: 20px;
  padding-left: 2%;
  padding-top: 55px;
  padding-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  overflow: hidden;
}

.sushi{
position: absolute;
top: 0;
font-size: large;
background-color:blanchedalmond;
font-weight: bold;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
right: 0;
height: 25px;
width: 150px;
padding: 25px ;
padding-top: 10px;
}

.chicken{
  position: absolute;
  top: 0;
  font-size: large;
  background-color: palevioletred;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  right: 0;
  height: 25px;
  width: 150px;
  padding: 25px;
  padding-top: 10px;
  }

  .beef{
    position: absolute;
    top: 0;
    font-size: large;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    right: 0;
    height: 25px;
    width: 150px;
    padding: 25px;
    padding-top: 10px;
    }

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/* Desktop view (992px and above) */
@media (min-width: 992px) and (max-width: 2000px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Tablet view (between 768px and 991px, inclusively) */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Mobile view (equal to or less than 767px) */
@media (max-width: 767px)  {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}